.search-bar {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically */
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error {
  color: red;
}

.results-container {
  margin-top: 20px;
}

.results-list {
  list-style: none;
  padding: 0;
}

